name: Build .NET Project

on:
  push:
    branches:
      - generated-api-client
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'  # Use latest 8.0 patch

      - name: Restore NuGet Packages
        run: dotnet restore generated-api/FactsetEstimatesApi.sln

      - name: Build Solution
        run: dotnet build generated-api/FactsetEstimatesApi.sln --no-restore --configuration Release
