
name: Generate ASP.NET Core Minimal API (NSwag .NET CLI)

on:
  push:
    paths:
      - "factset_estimates_api-v2.yml"
      - ".github/workflows/nswag-minimalapi.yml"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Install NSwag .NET CLI
        run: |
              dotnet new tool-manifest
              dotnet tool install NSwag.ConsoleCore --version 14.6.3
 

      - name: Generate C# Controllers using NSwag
        run: |
            dotnet tool run nswag openapi2cscontroller \
            /input:factset_estimates_api-v2.yml \
            /output:generated-minimal-api
      - name: Upload generated API
        uses: actions/upload-artifact@v4
        with:
          name: aspnetcore-minimalapi-nswag
          path: generated-minimal-api
