name: Generate ASP.NET Core API (OpenAPI Generator)

on:
  push:
    paths:
      - "factset_estimates_api-v2.yml"
      - ".github/workflows/openapi-windows.yml"
  workflow_dispatch:

jobs:
  generate:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install OpenAPI Generator CLI
        run: npm install -g @openapitools/openapi-generator-cli
        shell: pwsh
      
      - name: Generate ASP.NET Core API
        run: |
          Remove-Item -Recurse -Force generated-api -ErrorAction SilentlyContinue
          New-Item -ItemType Directory -Path generated-api
          
          openapi-generator-cli generate `
            -i factset_estimates_api-v2.yml `
            -g aspnetcore `
            -o generated-api `
            --additional-properties=packageName=FactsetEstimatesApi
            
        shell: pwsh

      - name: Fix invalid escape sequences in all C# files (recursive)
        shell: pwsh
        run: |
          cd generated-api
          Get-ChildItem -Path . -Recurse -Include *.cs -File |
            ForEach-Object {
              $content = Get-Content $_.FullName -Raw
              $fixed = $content -replace '\\&quot;', '"'
              Set-Content -Path $_.FullName -Value $fixed
            }
            # dotnet build
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: aspnetcore-api
          path: generated-api
